body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 40px;
}

header {
    text-align: center;
}

.profile-image {
    display: block;
    margin: 20px auto;
    max-width: 800px;
}

ul {
    list-style-type: square;
}
